body {
  padding: 30px 100px;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.col {
  width: 230px;
  padding: 20px 20px;
  border: 2px dashed #ccc;
}

p {
  font-size: 14px;
  font-family: sans-serif;
  color: #333;
}

/***************
 * Effect 1 
 ***************/
.effect1 a {
  display: inline-block;
  text-decoration: none;
  color: #272727;
  font-size: 20px;
  font-family: sans-serif;
  border: 5px solid #272727;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
}

/* 
    NOTE: 
    before 를 생각하지 못하고 div를 직접 사용했었는데
    하나의 엘리먼트를 만들거라면 before를 활용하는게 좋겠다.
 */
.effect1 a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff200;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 1s;
}

.effect1 a:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff200;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: top right;
  transform: rotate(-90deg);
  transition: transform 1s;
}

.effect1 a:hover:before {
  transform: rotate(0deg);
}

.effect1 a:hover:after {
  transform: rotate(0deg);
}

/***************
 * Effect 2 
 ***************/

.effect2 a {
  display: inline-block;
  text-decoration: none;
  color: #351435;
  font-size: 20px;
  font-family: sans-serif;
  border: 3px solid #351435;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  transition: color 1s;
}

.effect2 a:hover {
  color: white;
}

/* NOTE: left를 이용해도 되지만, translate를 사용할 수도 있다. */
/* .effect2 a:before {
  left: -100%;
  transition: left 1s;
} */
.effect2 a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #351435;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 1s;
}

.effect2 a:hover:before {
  transform: translateX(0%);
}

/***************
 * Effect 3

 NOTE:
 ✅ 3d x,y rotate시 평면이 되어 화면에 보이지 않는 성질을 활용
 🤮 나는 top, height 조합으로 해결하려고 했는데, 
    이러면 centering 문제 때문에 애니메이션이 자연스럽지 못했었다.
 ***************/

.effect3 a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  border: 3px solid #272727;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  transition: color 500ms;
  color: #272727;
}
.effect3 a:hover {
  color: #fff;
}

.effect3 a:before {
  content: "";
  position: absolute;
  background-color: #272727;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: transform 500ms;
  z-index: -1;
  transform: rotateX(90deg);
}
.effect3 a:hover:before {
  transform: rotateY(0);
}

.effect3 a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #272727;
  transition: transform 500ms;
  z-index: -1;
  transform: rotateY(90deg);
}
.effect3 a:hover:after {
  transform: rotateY(0);
}

/***************
 * Effect 4
 ***************/

.effect4 a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  border: 3px solid red;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  transition: all 500ms;
  color: #272727;
  letter-spacing: 0;
}

.effect4 a:hover {
  font-weight: bold;
  border-width: 5px;
  letter-spacing: 10px;
}

/***************
 * Effect 5
 ***************/

.effect5 a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  border: 3px solid #272727;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  color: #fff;
  background-color: #222;
  letter-spacing: 0;
}

.effect5 a:before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "YEAH!";
  color: #fff;
  background-color: #f44336;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 500ms;
}
.effect5 a:hover:before {
  transform: translateY(0);
}

/***************
 * Effect 6
 ***************/

.effect6 a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  border: 3px solid #272727;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  color: #fff;
  background-color: #222;
  transition: background-color 300ms;
}

.effect6 a:hover {
  background-color: #f44336;
}

/* NOTE: width 100%로 잡는게 translate % 처리하기에 좋다 */
.effect6 a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 150%;
  background-color: #fff;
  transform: skewX(30deg) translateX(-50px);
  transition: transform 300ms;
}
.effect6 a:hover:after {
  transform: skewX(30deg) translateX(250px);
}

/***************
 * Effect 7
 ***************/

.effect7 a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  border: 3px solid #272727;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  /* transparent */
  color: transparent;
  background-color: #272727;
}

.effect7 a:before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(-100%, 100%);
  background-color: #fffb82;
  color: #272727;
  transition: transform 500ms;
}
.effect7 a:hover:before {
  transform: translate(0, 0);
}

.effect7 a:after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 0);
  color: #272727;
  background-color: #fffb82;
  transition: transform 500ms;
}
.effect7 a:hover:after {
  transform: translate(100%, -100%);
}

/***************
 * Effect 8
 ***************/

.effect8 a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  border: 3px solid #272727;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  color: #272727;
}

.effect8 a:after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "Hover me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #272727;
  color: #fff;
  transition: transform 500ms, opacity 500ms;
  transform: scale(2);
  opacity: 0;
}

.effect8 a:hover:after {
  transform: scale(1);
  opacity: 1;
}

/***************
 * Effect 9
 ***************/

.effect9 button {
  padding: 20px 40px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #ed6353;
  border: 2px solid #ed6353;
  overflow: hidden;
  display: inline-block;
  position: relative;
  background: none;
  cursor: pointer;
}
.effect9 button:hover {
  color: white;
  transition: all 300ms;
}
.effect9 button:hover::before {
  height: 200%;
}
.effect9 button::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #ed6353;
  z-index: -1;
  transition: all 300ms;
}

/***************
 * Effect 10
 ***************/

.effect10 button {
  padding: 20px 40px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: relative;
  background-color: #f1c40f;
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: white;
}
.effect10 button::before,
.effect10 button::after {
  position: absolute;
  content: "BUTTON";
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  color: white;
  transition: all 200ms;
  transform-origin: top;
  transform: rotateX(270deg);
}
.effect10 button::before {
  background-color: #2ce771;
}
.effect10 button::after {
  background-color: red;
  transition-delay: 0.2s;
}
.effect10 button:hover::before,
.effect10 button:hover::after {
  transform: rotateX(0);
}

/***************
 * Effect 11
 ***************/

.effect11 a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  border: 3px solid #fff34b;
  padding: 20px 40px;
  position: relative;
  color: transparent;
}

.effect11 a:before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "BUTTON";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #272727;
  color: #ff0;
  transition: all 500ms;
  opacity: 1;
}

.effect11 a:hover:before {
  opacity: 0;
  transform: translateX(-100%) rotateY(360deg) scale(0);
}

.effect11 a:after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "BUTTON";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #272727;
  color: #ff0;
  transition: all 300ms;
  opacity: 0;
  transform: translateX(100%) rotateY(360deg) scale(0);
}

.effect11 a:hover:after {
  transform: translateX(0) rotateY(0) scale(1);
  opacity: 1;
}

/***************
 * Effect 12
 ***************/

.effect12 a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  padding: 20px 40px;
  position: relative;
  color: #fff34b;
  transition: all 0.5s;
}

.effect12 a div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: #272727;
}

.effect12 a:before,
.effect12 a:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #ff0;
  border-radius: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
  z-index: -1;
  opacity: 0;
}

/* NOTE: 
    box-shadow를 이용해 사본을 만들어
    원본에 상대적으로 위치하도록 할 수 있다.
 */
.effect12 a:before {
  left: 0;
  box-shadow: -100px 0 0 #ff0;
}
.effect12 a:after {
  right: 0;
  box-shadow: 100px 0 0 #ff0;
}
.effect12 a:hover:before {
  left: 50%;
  box-shadow: 30px 0 0 #ff0;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.effect12 a:hover:after {
  right: 50%;
  box-shadow: -30px 0 0 #ff0;
  transform: translate(50%, -50%);
  opacity: 1;
}

.effect12 a span {
  background-color: #ff0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transform: scale(0);
  transition: all 0.3s;
  z-index: -1;
}

.effect12 a:hover span {
  transform: scale(1);
  transition-delay: 0.3s;
}

.effect12 a:hover {
  color: #272727;
  transition-delay: 0.3s;
}

/***************
 * Effect 13
 ***************/
.effect13 a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  font-family: sans-serif;
  padding: 15px 15px;
  position: relative;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}
.effect13 a:hover {
  color: #272727;
}

.effect13 a:before {
  content: "";
  position: absolute;
  left: -3px;
  top: -4px;
  width: 100%;
  height: 100%;

  background-color: #20caff;
  z-index: -1;
  transition: all 200ms;
  mix-blend-mode: multiply;
  transform-origin: top;
}
.effect13 a:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 3px;
  width: 100%;
  height: 100%;

  background-color: #ff7675;
  z-index: -1;
  transition: all 200ms;
  mix-blend-mode: multiply;
  transform-origin: bottom;
}
.effect13 a:hover:before {
  transform: scaleY(0.3);
  top: -6px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}
.effect13 a:hover:after {
  transform: scaleY(0.3);
  left: 0;
  top: 6px;
  transform: perspective(1000px) rotateX(-75deg);
}

/***************
 * Effect 14
 ***************/

.effect14 a {
  display: inline-block;
  font-family: verdana;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #f6b93b;
  letter-spacing: 3px;
  padding: 20px 40px;
  border: 3px solid #f6b93b;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

.effect14 a:before,
.effect14 a:after,
.effect14 span:before,
.effect14 span:after {
  content: "";
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #f6b93b;
  z-index: -1;
  transition: all 0.5s;
}

.effect14 a:before {
  top: 0;
  left: -25%;
  transition-delay: 0.1s;
}
.effect14 a:hover:before {
  top: 0;
  left: 0%;
}
.effect14 a:after {
  top: -100%;
  left: 25%;
  transition-delay: 0.2s;
}
.effect14 a:hover:after {
  top: 0%;
  left: 25%;
}

.effect14 span:before {
  top: 0;
  right: -25%;
  transition-delay: 0.3s;
}
.effect14 a:hover span:before {
  top: 0;
  right: 0%;
}
.effect14 span:after {
  top: 100%;
  right: 25%;
  transition-delay: 0.4s;
}
.effect14 a:hover span:after {
  top: 0%;
  right: 25%;
}

.effect14 a:hover {
  color: #272727;
}

/***************
 * Effect 15
 ***************/
.effect15 a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
  font-family: verdana;
  letter-spacing: 3px;
  padding: 10px;
  line-height: 60px;
  text-align: center;
  color: #fdc518;
  position: relative;
}
.effect15 a:before {
  content: "";
  position: absolute;
  height: calc(100% + 30px);
  width: 100%;
  top: -15px;
  left: 0;
  border-left: 2px solid red;
  border-right: 2px solid #fdc518;
  transition: all 0.5s;
}

.effect15 a:after {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 30px);
  top: 0;
  left: -15px;
  border-top: 2px solid red;
  border-bottom: 2px solid #fdc518;
  transition: all 1s;
  transition-delay: 0.2s;
}

.effect15 a:hover:before {
  transform: rotateY(180deg);
}
.effect15 a:hover:after {
  transform: rotateX(180deg);
}

/***************
 * Effect 16
 ***************/
.effect16 button {
  border: none;
  padding: 12px 40px;
  background-color: #c47135;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
.effect16 button:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -5px;
  left: -5px;
  border-top: 2px solid #c47135;
  border-left: 2px solid #c47135;
  transition: all 0.25s;
}
.effect16 button:hover:before {
  height: 100%;
  width: 100%;
}
.effect16 button:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -5px;
  right: -5px;
  border-bottom: 2px solid #c47135;
  border-right: 2px solid #c47135;
  transition: all 0.25s;
}
.effect16 button:hover:after {
  height: 100%;
  width: 100%;
}

/***************
 * Effect 17
 ***************/
.effect17 a {
  display: inline-block;
  text-decoration: none;
  width: 160px;
  height: 60px;
  color: black;
  border: 2px solid black;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  position: relative;
  transition: all 0.2s;
}
.effect17 a:hover {
  color: white;
}

.effect17 a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  opacity: 0;
  transition: all 0.8s;
}

.effect17 a:hover:before {
  opacity: 1;
  transform: rotate(15deg);
}

.effect17 a span {
  color: transparent;
  position: relative;
}
.effect17 a span:before {
  content: "B";
  position: absolute;
  color: black;
  transition: all 0.2s;
}
.effect17 a:hover span:before {
  color: white;
  font-size: 80px;
  transform: translate(-65%, -10%) rotate(360deg);
}
